.form {
    // height: 550px;
    width: 400px;
    background-color: $form-background-color;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin: 30px auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 40px 35px;
    // background: #191c29;
    // width: var(--card-width);
    // height: var(--card-height);
    // padding: 3px;
    // position: relative;
    // border-radius: 6px;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // display: flex;
    // font-size: 1.5em;
    // color: rgb(88 199 250 / 0%);
    // cursor: pointer;
    // font-family: cursive;
    // &:hover {
    //     color: rgb(88 199 250 / 100%);
    //     transition: color 1s;
    // }
    // &:hover:before,
    // &:hover:after {
    //     animation: none;
    //     opacity: 0;
    // }

    // &::before {
    //     content: '';
    //     width: 104%;
    //     height: 102%;
    //     border-radius: 8px;
    //     background-image: linear-gradient(
    //         var(--rotate),
    //         #5ddcff,
    //         #3c67e3 43%,
    //         #4e00c2
    //     );
    //     position: absolute;
    //     z-index: -1;
    //     top: -1%;
    //     left: -2%;
    //     animation: spin 2.5s linear infinite;
    // }

    // &::after {
    //     position: absolute;
    //     content: '';
    //     top: calc(var(--card-height) / 6);
    //     left: 0;
    //     right: 0;
    //     z-index: -1;
    //     height: 100%;
    //     width: 100%;
    //     margin: 0 auto;
    //     transform: scale(0.8);
    //     filter: blur(calc(var(--card-height) / 6));
    //     background-image: linear-gradient(
    //         var(--rotate),
    //         #5ddcff,
    //         #3c67e3 43%,
    //         #4e00c2
    //     );
    //     opacity: 1;
    //     transition: opacity 0.5s;
    //     animation: spin 2.5s linear infinite;
    // }

    // @keyframes spin {
    //     0% {
    //         --rotate: 0deg;
    //     }
    //     100% {
    //         --rotate: 360deg;
    //     }
    // }

    a {
        color: #212534;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 2rem;
    }
    h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }

    label,
    input,
    select,
    button {
        font-family: 'Poppins', sans-serif;
        color: $primary-color;
        letter-spacing: 0.5px;
    }

    label {
        display: block;
        font-size: 16px;
        font-weight: 500;
    }

    input,
    select,
    textarea {
        display: block;
        height: 50px;
        width: 100%;
        background-color: $input-background-color;
        border-radius: 3px;
        border: none;
        padding: 0 10px;
        // margin-top: 8px;
        font-size: 14px;
        font-weight: 300;

        &::placeholder {
            color: #e5e5e5;
        }
        &:focus {
            background-color: $input-background-color;
            color: #fff;
        }
    }
    textarea {
        height: 100%;
    }
    input[type='checkbox'] {
        position: absolute;
        top: -10px;
        left: 25%;
        transform: translateX(-50%);
        height: 20px;
        width: 20px;
        font-size: 40px;
    }
    button {
        width: 100%;
        background-color: $secondary-color;
        color: $primary-color;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
    }
    &-check {
        position: relative;
    }
    .hide,
    .unhide {
        position: absolute;
        cursor: pointer;
        width: 40px;
        bottom: 17px;
        right: 0;
        color: #e5e5e5;
    }
    #card-element {
        margin-bottom: 10px;
    }
    #card-element {
        background: $input-background-color;
        padding: 5px 0;
    }
}
