.navbar {
    background: #222 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-brand {
        color: #fff;
        font-size: 2em;
        transition: 0.5s ease-in-out;
        &:hover {
            color: #fff;
            opacity: 0.7;
        }
    }

    .nav-link {
        color: #fff;
        font-size: 1em;
        transition: 0.5s ease-in-out;
        &:hover {
            color: #fff;
            opacity: 0.7;
        }
    }
}
