.pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // transition: 3s ease-in;
    .page-item {
        margin: 0 10px;
        a {
            text-decoration: none;
        }
        .page-link {
            color: #fff;
            background: unset;
            border: unset;
            font-size: 25px;
        }
    }
    .active {
        border: #2fb468 solid 5px;
        border-radius: 50px;
    }
}
