.profile-card {
    margin: 5% auto 0;
    width: 320px;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px #111;
}
.top-section {
    padding: 60px 40px 40px;
    background: #2c2c54aa;
}
.pic {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    padding: 8px;
    position: relative;
}
.pic:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid $primary-color;
    left: 0;
    top: 0;
    border-radius: 50%;
    box-sizing: border-box;
    animation: wave 1.5s infinite linear;
}
@keyframes wave {
    to {
        transform: scale(1.3);
        opacity: 0;
    }
}
.pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.name {
    color: #f1f1f1;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.email,
.role {
    font-size: 18px;
    color: #f1f1f1;
}
