table {
    width: 100%;
    background-color: $form-background-color;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: $primary-color;
    tr:not(:last-child) {
        border-bottom: 1px solid $primary-color;
    }
    td,
    th {
        padding: 10px;
    }
    td {
        img {
            width: 50px;
        }
    }
}
