// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//color
$primary-color: #ffffff;
$secondary-color: #080710;
$form-background-color: rgba(255, 255, 255, 0.13);
$input-background-color: rgba(255, 255, 255, 0.07);
$purple: #28254c;
$l-purple: #332f63;
$t-purple: #8c8aa7;
$pink: #ff5e65;
