// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Navigation
@import 'nav';

// Form
@import 'form';

// table
@import 'table';

// profile
@import 'profile';

//global variables
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #080710;
}
a {
    color: #76b5c5;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    &:hover {
        opacity: 0.7;
        color: #76b5c5;
        text-decoration: underline;
    }
}
.status {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-link {
    font-size: 1.1em !important;
}
