// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Navigation
@import 'nav';

// Form
@import 'form';

// table
@import 'table';

// profile
@import 'profile';

// blog
@import 'blog';

// 404
@import '404';

// dropzone
@import 'dropzone';

// plan
@import 'plan';

// pagination
@import 'pagination';

//global variables
// @property --rotate {
//     syntax: '<angle>';
//     initial-value: 132deg;
//     inherits: false;
// }

// :root {
//     --card-height: 65vh;
//     --card-width: calc(var(--card-height) / 1.5);
// }

body {
    padding: 0 2rem;
    margin: 0;
    background: #212534;
    box-sizing: border-box;
}

a {
    color: #76b5c5;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    &:hover {
        opacity: 0.7;
        color: #76b5c5;
        text-decoration: underline;
    }
}
.status {
    // color: $primary-color;
    width: 95%;
    position: absolute;
    top: 5%;
    left: 50%;
    // opacity: 0.7;
    transform: translateX(-50%);
}

.nav-link {
    font-size: 1.1em !important;
}
